body {
    margin: auto 0;
    padding: auto 0;
}

.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.slideshow-container>div>img {
    width: 100%;
}

.dotdiv{
    text-align: center;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#div1{
    display:flex;
    justify-content: space-around;
}
#div1>div{
    border: solid red;
}


.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
    /* animation-name:slider; */
/* animation-duration:3s; */
/* animation-timing-function: ease-in-out; */
/* animation-iteration-count:infinite; */
}
.fade:hover { animation-play-state:paused; }



/*--------------Media Query------------------------------------- */
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }

}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}