body{
    margin: auto 0;
    padding: auto 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#navbar{
    height: auto;
    background-color: #32aeb1;
    display: flex;
    justify-content: space-around;
    padding: 20px 140px;
    position: sticky;
    top:0;
    z-index: 10;
}
#navbar>img{
    cursor: pointer;
}
#search-bar{
    width: 45%;
    display: flex;
    height: 45px;
}
#search-bar input{
    width: 70%;
    border: none;
    height: 95%;
    float: left;
    position: relative;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 5%;
}
#search-bar select{
    width: 30%;
    height: 100%;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 20px;
}
#search-bar select>option{
    height: 30px;
    color: grey;
}
#right-data{
    display: flex;
    width: 26%;
    justify-content: space-between;
}
.upper{
    display: flex;
    width: auto;
    color: white;
    cursor: pointer;

}
.upper i{
    margin-right: 12px;
    margin-top: 13px;
    color: white;

}


#sec-nav{
    padding-top: 10px;
    height: 70px;
    background-color: #32aeb1;
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
}
.nav-item{
    display: flex;
    width: 12%;
    cursor: pointer;
    color: white;
}
.nav-item img{
    width: 52px;
    height: 50px;
    border-radius: 8px;
}
.nav-item select{
    height: 30px;
    margin-top: 10px;
    background-color: #32aeb1;
    border: none;
    cursor: pointer;
    color: white;
}
#third-nav{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 0px 220px;
}
#third-nav p{
    font-size: 13px;
    color: #151b39;
    cursor: pointer;
}

.dropbtn {
    margin-top: 5px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #32aeb1;
    margin-left: -6px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    width: 15%;
    
  }
  .dropdown img{
    width: 52px;
    height: 50px;
    border-radius: 8px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 60px;
    margin-left: 50px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #32aeb1;}